# Ignore Visual Studio files
.vs/
bin/
obj/
*.user
*.suo
*.cache
*.pidb
*.pdb
*.opendb
*.sln.docstates
*.userprefs
*.useroptions
*.vspscc
*.vssscc
*.vspscc
*.vssscc
*.suo
*.unsuccessfulbuild
*.user
*.user.osx
*.user.windows
*.user.unix
ReSharper.*
[Tt]estResults.xml
[Tt]estResult.xml
*.Cache
*.loadLog
*.pubxml
*.publishproj
*.ruleset
Directory.Build.props
Directory.Build.targets
*.rsuser
*.ruler
*.sln.ide
*.suo
*.targets
*.user
*.vspscc
*.vssscc
*.webtest
*.wpftest
*.xaml.test
*.xaml.designer.cs
*.xaml.designer.vb
*.xaml.designer.js
*.xaml.designer.ts
*.xaml.designer.py
*.xaml.designer.rb
*.xaml.designer.php
*.xaml.designer.java
*.xaml.designer.swift
*.xaml.designer.kotlin
*.xaml.designer.go
*.xaml.designer.ruby
*.xaml.designer.scala
*.xaml.designer.dart
*.xaml.designer.fsharp
*.xaml.designer.clojure
*.xaml.designer.erlang
*.xaml.designer.haskell
*.xaml.designer.julia
*.xaml.designer.lua
*.xaml.designer.perl
*.xaml.designer.r
*.xaml.designer.racket
*.xaml.designer.scheme
*.xaml.designer.scm
*.xaml.designer.sql
*.xaml.designer.tcl
*.xaml.designer.xquery
*.xaml.designer.xslt
*.xaml.designer.xqy
*.xaml.designer.xqm
*.xaml.designer.xq
*.xaml.designer.xquery
*.xaml.designer.xqy
*.xaml.designer.xqm
*.xaml.designer.xq
*.xaml.designer.xquery
*.xaml.designer.xqy
*.xaml.designer.xqm
*.xaml.designer.xq
*.xaml.designer.xquery
*.xaml.designer.xqy
*.xaml设计